body
	{
		background-image: url("wallpaper.jpg");
		background-repeat: no-repeat;
		background-position: top left;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		text-align: center;
	}

h1
	{
		font-family: 'Lobster', cursive;
		font-size: 70px;
		text-shadow: 6px 6px 6px #000;
		color: white;
	}
#book
	{
		margin: auto;
	}
#page
	{
		margin: auto;
		margin-bottom: 1%;
		background: #293234;
		border: 1px solid #000000;
		color: #ffffff;
		opacity: 0.5;
		width: 25%;
		padding: 25px;
	}

a:link {
	text-decoration: none;
	color:white;
}

a:visited {
	text-decoration: none;
	color:white;
}

a:hover {
	text-decoration: none;
	color:white;
}

a:active {
	text-decoration: none;
	color:white;
}
